
.card {
  position: relative;
  box-shadow: 4px 4px 8px 0 #143D59;
  transition: 0.3s;
  width: 32%;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
}

.card-info {
  padding: 3px 20px;
}

.card-info h1 {
  color: #143D59;
  text-align: center;
  /* text-shadow: 1px 1px #002e8a; */
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.card-info ul {
  list-style-type: circle;
  padding: 10px;
}

.card-info ul li {
  margin-left: 20px;
}

.card img {
  width: 100%;
}

#main-title {
  text-align: center;
  color: #e8e8e8;
  font-size: 2.5em;
  text-shadow: 3px 2px #143D59;
}

#list-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.form {
  display: block;
  text-align: center;
}

#form-show-buttons {
  cursor: pointer;
  text-align: center;
}

.button {
  padding: 12px 24px;
  border: 2px solid #143D59;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.button:hover {
  background-color: #5bbbfc;
  color: white;
}

input[type=text] {
  width: 30%;
  padding: 10px 20px;
  margin: 8px 0;
  border-radius: 3px;
  font-size: 1em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

label {
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #293250;
}

input[type=submit] {
  background-color: #143D59;
  color: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
}

#or {
  padding: 10px;
  text-shadow: 1px 1px #002e8a;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.5em;
}

#filter-drop-down {
  text-align: center;
}

.card-footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.card-footer a {
  color: #002e8a;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

.card-footer a:hover {
  text-decoration: underline;
}

.card-footer a:active {
  color: black;
}
